<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />

    <style>
        .bg-admin {
            background-color: powderblue;
        }

        .bg-dark {
            background-color: ivory !important;
    
        }
     

    </style>

</head>
<body>
    @{

        // Determine if the user is an admin
        bool isAdmin = false;  // Initialize as false by default
        if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            isAdmin = true;
        }

        // Define the class for the navigation bar based on admin status
        string navClass = isAdmin ? "bg-admin" : "bg-dark";
    }
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm @navClass admin-link">

        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="admin-link">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Trail", "List", "Trail", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Location", "ListLocations", "Location", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Plant", "ListPlants", "Plant", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>